/* body
{ 
background-image:url('images/las-vegas-sign.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
} */

div#player {
  /* float:left; */
}

form#hit {
  float: left;
  padding-right: 10px;
}

form#stay {
  float: left;
}