
<% if session[:money] <= 0 %>
  <h3>Sorry, you're out of money! Need to go to the ATM, then <a href="/player/set_name">start over</a>.</h3>
<% elsif %>
  <h3><%= session[:player_name] %>, you have $<%= session[:money] %>. How much would you like to bet?</h3>

  <form action="/player/set_bet" role="form" method="post">
  <input type="text" class="form-control" placeholder="Bet" name="bet"><br />
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
<% end %>


