<h3>Welcome to Blackjack!</h3>

<p>Please enter your name:</p>

<form action="/set_name" role="form" method="post">
<input type="text" class="form-control" placeholder="Name" name="user_name"><br />
<button type="submit" class="btn btn-default">Submit</button>
</form>

