
<p>Welcome, <%=session[:user_name]%>! You have $500 to start with. How much would you like to bet?</p>

<form action="/player/set_bet" role="form" method="post">
<input type="text" class="form-control" placeholder="Bet" name="bet"><br />
<button type="submit" class="btn btn-default">Submit</button>
</form>


